# Do not perform any line ending conversions.
# Do not perform any line ending conversions.
# This repo primarily uses CRLF (Windows-style) line endings, as it is a
# Visual Studio / .NET project, but some files use LF. By setting -text,
# git will leave all files exactly as-is on both commit and checkout,
# regardless of any global core.autocrlf or core.eol settings on a
# contributor's machine.
* -text
