<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.NETCore.Platforms" version="5.0.3" targetFramework="net47" />
  <package id="NETStandard.Library" version="2.0.3" targetFramework="net47" />
  <package id="System.Configuration.ConfigurationManager" version="5.0.0" targetFramework="net47" />
  <package id="System.Security.AccessControl" version="5.0.0" targetFramework="net47" />
  <package id="System.Security.Permissions" version="5.0.0" targetFramework="net47" />
  <package id="System.Security.Principal.Windows" version="5.0.0" targetFramework="net47" />
</packages>