<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DynamicInterop" version="0.9.1" targetFramework="net47" />
  <package id="Microsoft.CSharp" version="4.5.0" targetFramework="net47" />
  <package id="Microsoft.NETCore.Platforms" version="5.0.3" targetFramework="net47" />
  <package id="Microsoft.Win32.Registry" version="4.5.0" targetFramework="net47" />
  <package id="NETStandard.Library" version="2.0.3" targetFramework="net47" />
  <package id="R.NET" version="1.9.0" targetFramework="net47" />
  <package id="System.Configuration.ConfigurationManager" version="5.0.0" targetFramework="net47" />
  <package id="System.Drawing.Common" version="5.0.2" targetFramework="net47" />
  <package id="System.Security.AccessControl" version="5.0.0" targetFramework="net47" />
  <package id="System.Security.Permissions" version="5.0.0" targetFramework="net47" />
  <package id="System.Security.Principal.Windows" version="5.0.0" targetFramework="net47" />
</packages>